.BlogDashboardCards {
  background-color: #eef0f1;
}

/* font-family: 'DM Sans', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap");

.blogTitle {
  font-weight: 700;
  cursor: pointer;
}

.blogTitle:hover {
  color: rgb(0, 132, 255);
}

.expand {
  transform: rotate(0deg);
}
.expandOpen {
  transform: rotate(180deg);
}

.blogDetails {
  height: 70vh;
  overflow: auto;
}

/* ---------------uplode blog--------------- */

.upTitle {
  font-size: 27px !important;
  font-weight: 700;
}

.submitUpdate {
  width: 100%;
  /* background-color: #dee0e0 !important; */
  margin-top: 30px !important;
}
