@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap");

/* font-family: 'DM Sans', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap");

.MainHeadline {
  padding: 30px 0px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  background: skyblue;
  margin-bottom: 15px;
}

.blogTitle {
  font-weight: 700;
  cursor: pointer;
}

.blogTitle:hover {
  color: rgb(0, 132, 255);
}

.expand {
  transform: rotate(0deg);
}
.expandOpen {
  transform: rotate(180deg);
}

.blogDetails {
  height: 70vh;
  overflow: auto;
}
