@import "../../../style/base/variables";

.projectsArea {
  /* background-color: #11c5ef; */
  padding: 0px 0px 30px 0px;
  background: linear-gradient(48deg, #11cbef, #1172ef);
}

.headLine {
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}

.projectsTable {
  background: #fff;
  padding: 1px 15px;
}

.tableHead {
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 0px;
  text-transform: uppercase;
}
.tableIcon {
  margin-right: 20px;
  cursor: pointer;
}
.tableCell {
  cursor: pointer;
}
.tableCell:hover {
  background-color: rgb(233, 227, 227);
}

.upProjectHeadLink {
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  margin-top: 80px;
}

.upInputs {
  border: 2px solid #fff !important;
  padding: 5px;
  border-radius: 5px;
  font-weight: 700;
  width: 100%;
  margin: 5px 0px;
}
.upInputs:focus {
  outline: none;
  border: 2px solid $yellow !important;
}

.submitUpProjectBtn {
  font-weight: 900 !important;
  background-color: #fff !important;
  width: 100%;
  height: 45px;
}
