@import "../../base/variables";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");

.services_area {
  padding: 40px 0px;
  font-family: "Roboto", sans-serif;

  .container {
    max-width: 1000px;
    margin: 0 auto;
  }

  .services_title {
    text-align: center;
    font-weight: 800;
    color: #0c1b46;
    padding-bottom: 40px;
  }
  div {
    div {
      div {
        .service_cards {
          margin: 10px 0px;
          transition: 0.3s;
          cursor: pointer;
          h4 {
            margin-top: 20px;
            font-weight: 800;
            color: #1f4262;
          }
          padding: 40px 10px;
          div {
            width: 23%;
            padding: 15px;
            margin: 0 auto;
            border-radius: 100px;
          }

          img {
            position: relative;
            left: 25px;
            // width: 20%;
            margin: 0 auto;
          }
        }
        .service_cards:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  .left_side {
    h3 {
      color: $fontColor;
      font-weight: 700;
    }
    p {
    }
  }

  @media (max-width: 558px) {
    .service_cards {
      border-radius: 20px;
      box-shadow: 2px 1px 10px 2px rgb(206, 206, 206);
      margin: 10px 15px !important;
    }
  }
}
