.about_vision_component_area {
  padding: 50px 0px;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  div {
    .col {
      padding: 0px 30px;
    }
    div {
      img {
        // border: 2px solid red;
      }
    }
    div {
      h3 {
        font-weight: 700;
        margin-bottom: 15px;
        line-height: 40px;
      }
      p {
      }
      div {
        .offer_options {
          // border: 2px solid lightblue;
          h6 {
            font-weight: 700;
          }
          p {
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .about_vision_component_area {
    padding: 10px 0px;
  }
  .container {
    div {
      div {
        .v_img {
          display: none;
        }
      }
      div {
        h3 {
          font-weight: 700;
          margin-bottom: 5px;
          line-height: 30px;
          br {
            display: none;
          }
        }
        p {
        }
        div {
        }
      }
    }
  }
}
